<div class="stack-report">
  <div (click)="$event.preventDefault()">
    <tabset *ngIf="dataLoaded">
        <tab *ngFor="let tabz of tabs"
            [heading]="tabz.title"
            [active]="tabz.active"
            (select)="tabSelection(tabz)"
            (deselect)="tabz.active = false"
            [disabled]="tabz.disabled"
            [removable]="tabz.removable"
            (removed)="removeTabHandler(tabz)"
            [customClass]="tabz.customClass">
            <stack-level-information [userStack]="tabz && tabz.content && tabz.content.user_stack_info"></stack-level-information>
            {{tabz.content}}
            <!--<component-level-information [component]="userComponentInformation"></component-level-information>-->
        </tab>
    </tabset>
    <div *ngIf="!dataLoaded">Nothing to display</div>
  </div>
</div>